.checkout-container{
    background-color:rgb(236, 235, 235);
    min-height: 800px;
    padding-top:40px;
}
.checkout-area{
    background-color:white;
    border-radius:5px;
    width:80%;
    margin:0 10%;
    padding:20px;
    box-shadow: 4px 4px 6px lightgray;;
}

.checkout-btn {
    display:flex;
    justify-content:flex-end;
}